@model WebsiteQuanLyBanHang.Models.ReturnGood

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReturnGood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DaReturnGoods)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaReturnGoods)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesMan.SalesManName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesMan.SalesManName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReturnGoodsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
