@model IEnumerable<WebsiteQuanLyBanHang.Models.ReturnGood>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DaReturnGoods)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesMan.SalesManName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DaReturnGoods)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesMan.SalesManName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReturnGoodsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReturnGoodsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReturnGoodsID })
        </td>
    </tr>
}

</table>
